*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 1200px;
}
ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
li{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.code li{
        list-style-type: none;
        font-size: 20px;
}
.code li:first-child{
    margin-left: 0;
    color: rgb(65, 116, 14);
}
.code li:nth-child(2){
    margin-left: 30px;
}
.code{
    background-color: antiquewhite;
}
.image{
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
a{
    color: rgb(42, 95, 212);
    text-decoration: none;
      
}
span{
    padding: 0px 10px;
    background-color: antiquewhite;
}