*{
    box-sizing: border-box;
}
body{
    display: block;
    font-family: 'Inter', sans-serif;
}
.ds-header{
    background-color: rgb(253, 247, 247);
    padding:70px 0;
    position: fixed;
    top:0;
    width: 100%;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
    padding: 0 12px;
}
.ds-header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ds-logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    display: flex;
    align-items: center;
}
.ds-logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
}
.ds-social{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
ul {
    padding: 0;
    margin: 0;
}
.ds-social li a{
    border-radius: 100%;
    color: #FFF;
    width: 24px;
    height: 24px;
    background-color: #F26464;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
a{
    text-decoration: none;
    outline: none;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    box-shadow: none;
}
.ds-social li:first-child{
    margin-left: 0;
    
}
.ds-social li:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
}
.ds-social li:last-child{
    margin-left: 15px;
    margin-right: 15px;
}
.ds-social li a:hover{
    border-radius: 100%;
    color: #FFF;
    width: 24px;
    height: 24px;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.ds-banner{
    width: 100%;
}
.row{
    display: flex;
}
.row1{
    padding-right: 12px;
    width: 100%;
}
.row2{
    padding-left: 12px;

}
figure{
    margin: 0;
}
.ds-banner section h1 span{
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 30px;
}
h1{
    font-size: 55px;

}
.ds-numbervalulist{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}
.ds-numbervalulist strong{
    display: block;
    color: #F26464;
    font-size: 36px;
    font-weight: 800;
}
.ds-numbervalulist li{
    margin-right: 60px;
    margin-top: 15px;
}
.ds-banner section {
    padding-left: 70px;
    padding-right: 100px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}
.ds-numbervalulist span {
    font-size: 16px;
    letter-spacing: 1px;
}
.ds-about-section{
    padding-top: 60px;
    padding-bottom: 120px;
}
.ds-heading{
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}
.ds-about-section p{
    color: #373737;
    font-size: 16px;
    line-height: 40px;
    font-weight: 250;
    margin-bottom: 60px;
}
.ds-button{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #F26464;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 60px;
    
}
.ds-button:hover{
    background-color: rgb(240, 160, 160);
    color:white;
}
.ds-button-sec.text-center{
    margin-left: 37%;
}
.container1{
    margin-bottom: 10px;
}
.row-skill{
    display: flex;
    flex-wrap: wrap;
}
.ds-skills-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 11px;
}
.row-skill-1{
    flex: 0 0 auto;
    width: 50%;
    flex-wrap: wrap;
}
.ds-skills-list li{
    display: inline-block;
    color: #373737;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #D7D7D7;
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}
.ds-skills-section{
    padding-bottom: 105px;
}
.row-ds-experience-list{
    display: flex;
}
.ds-year{
    color: #373737;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 0px;
}
span.ds-officename{
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 0px;
}
h3{
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
span.ds-department{
    color: #373737;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px ;
}
.row-ds-experience-list-1 section ul li{
    font-size: 16px;
    color: #2f2c2c;
}
.row-ds-experience-list-1 section p{
    font-size: 16px;
    line-height: 24px;
    color: #2f2c2c;
}
.row-ds-experience-list-1.high{
    margin-left: 30px;
}
.row-ds-experience-list-1 section ul{
    list-style-position: inside;
    padding-left: 0;
}
.row-ds-experience-list-1 section ul li{
    margin-bottom: 10px;
}
.row-work{
    display: flex;
    

}
.row-work1{
    width: 55%;
    padding: 50px;
}
.row-work2{
    width: 45%;
    margin-top: 35px;

}
.ds-work-list{
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 20px;
    background-color: #F6F8FA;
    margin-bottom: 40px;
}
.ds-work-tilte{
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.ds-work-list p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.ds-work-list section {
    padding-right: 60px;
    padding-bottom: 50px;
}
@media only screen and (max-width:768px){
    .name{
        display:none;
    }
    .container{
        margin-left: 0;
        margin-right: 0;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .row1{
        width: 100;
    }
    .row2{
        padding: 0;
    }
    .ds-banner section{
        padding: 0;
    }
    h1{
        font-size: 30px;
    }
    .ds-banner section h1 span{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .ds-numbervalulist{
        margin-top: 10px;
    }
    .ds-skills-section{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .ds-about-section{
        padding-bottom: 30px;
    }
    .row-skill-1{
        width:100%;
    }
    .row-ds-experience-list{
        display: flex;
        flex-wrap: wrap;
    }
    .row-ds-experience-list-1.high{
        margin-left: 0;
    }
    .row-work{
        flex-wrap: wrap;
    }
    .row-work1{
        width: 100%;
        padding: 0px;
    }
    .ds-work-list section {
        padding-right: 60px;
        padding-bottom: 0;
    }
    img{
        width: 100%;
    }
}
@media only screen and (max-width:320px) {
    .name{
        display: none;
    }
    .container{
        margin-left: 0;
        margin-right: 0;
    }
    .ds-numbervalulist strong {
        
        font-size: 30px;
        font-weight: 800;
    }
}