*{
    box-sizing: border-box;
}
.white-background{
    background-color: #FFFFFF;
}
body {
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #A4B4C3;
    font-style: normal;
    background-color: #030B15;
    line-height: 1.75;
    margin: 0;
}

.menu-area.menu-style-two{
    padding: 10px 0;
}
.transparent-header{
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9;
    height: auto;
}
.custom-container-three{
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 113px;
    height: 90px;
}
.menu-nav{
    display: flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 90px;
}
.logo img {
    max-height: 65px;
}
.navbar-wrap {
    display: flex;
    flex-grow: 1;
}
.d-lg-flex{
    display:flex;
}
.navigation{
    display:flex;
    list-style-type: none;
    margin-left: 100px;
}
.navigation li{
    margin-right: 40px;
    font-size: 14px;
    font-weight: 550;
    color:white;
}
.header-action ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 10px;
}
.header-action ul li{
    padding-left: 35px;
    margin-left: 35px;
}
.navigation .section-link{
    color: #00C4F4;
}
.navigation li:hover{
    color: #00C4F4;
    cursor: pointer;
}
.header-action ul li:first-child{
    padding-left: 0;
    margin-left: 0;
}
.header-lang .selected-lang {
    font-size: 16px;
    color:white;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 1px;
}
.menu-style-two .header-btn .btn:hover{
    background-color: rgb(93, 70, 145);
}
.fa-chevron-down{
    color:#00C4F4 ;
    margin-left: 10px;
    font-size: 10px;
    font-weight: 400;
}
.menu-style-two .header-btn .btn{
    background-color: #00C4F4;
    border-radius: 5px;
    color:aliceblue;
    text-decoration: none;
}
.header-btn .btn{
    font-size: 14px;
    padding: 16px 35px;
    font-weight: 1000;
}
.header-btn{
    border-left: 2px rgb(137, 131, 131) solid ;
}
.banner-area-two {
    position: relative;
    padding: 180px 0 0;
    z-index: 1;
    height: 800px;
}
.banner-bg-two {
    background-image: url(assets/banner_bg02.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 164px);
    z-index: -1;
}
.banner-bg-two::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    background-image: url(assets/banner_shape.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 722px;
    z-index: -1;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.custom-container-four{
    margin: 0 138px;
}
.justify-content-center {
    justify-content: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.banner-area-two .banner-content {
    margin-bottom: 0;
}
.text-center {
    text-align: center!important;
}
.banner-area-two .banner-content img {
    max-width: 700px;
}
.title.wow{
    font-size: 55px;
    line-height: 1.36;
    margin-top: 0;
    color:white;
}
.banner-social-wrap{
    position: absolute;
    left:55px;
    bottom: 100px;
}
ul {
    margin: 0px;
    padding: 0px;
}
.banner-social-wrap ul li.is-active {
    width: auto;
}
.banner-social-wrap ul li {
    margin-bottom: 25px;
    border: 1px solid #F3F3F3;
    border-radius: 50px;
    width: 42px;
    display: flex;
    align-items: center;
}
.banner-social-wrap ul li a {
    font-size: 15px;
    color: #081A39;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    transition: 0s;
    text-decoration: none;
}
.banner-social-wrap ul li span {
    color: #B5BAC4;
    font-size: 14px;
    font-weight: 500;
    padding-right: 14px;
    display: none;
}
.banner-social-wrap ul li span:active{
    display: inline;
}
.banner-scroll {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 90px;
}
.banner-scroll span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.515em;
    color: #081A39;
    transform: rotate(-90deg);
    margin-bottom: 120px;
    opacity: 0.4;
}
.countdown-area-two .countdown-wrap {
    background: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    position: relative;
    text-align: center;
    padding: 55px 50px 60px;
}
.countdown-wrap .title{
    color:#030B15
}
.about-area-two {
    padding: 130px 0;
    position: relative;
}
.align-items-center {
    align-items: center!important;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
.mb-15 {
    margin-bottom: 15px;
}
.section-title.section-title-two .sub-title {
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    text-decoration: underline;
    margin-bottom: 18px;
}
.section-title .sub-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    letter-spacing: 0.09em;
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 25px;
}
.section-title.section-title-two .title {
    font-size: 40px;
    color: #030B15;
    line-height: 1.26;
    margin: 0;
}
.about-content-two p {
    color: #727885;
    margin-bottom: 20px;
    width: 80%;
}
p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: #727885;
    margin-bottom: 15px;
}
.about-content-two .about-list {
    margin-bottom: 45px;
}
.about-content-two .about-list ul li {
    display: flex;
    align-items: baseline;
    color: #030B15;
    margin-bottom: 10px;
}
.about-content-two .about-list ul li i {
    color: #564DCA;
    margin-right: 10px;
}
.fas{
    font-weight: 900 !important;
}
.btn{
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    line-height: 1;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.4s 0s;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0px 6px 22px rgba(6, 34, 51, 0.22);
}
.btn.btn-two {
    background: #564DCA;
    border-radius: 5px;
    padding: 25px 42px;
    border: none;
}
.btn.btn-two:hover{
    background-color: #00C4F4;
}
.about-shape-wrap img {
    position: absolute;
}
img, .img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
.about-shape-wrap img.shape-one {
    left: 9%;
    bottom: 90px;
    animation: leftToRight 5s infinite linear;
}
@keyframes leftToRight{
    0% {
        transform: rotateX(0deg) translateX(0px);
    }
    50% {
        transform: rotateX(0deg) translateX(50px);
    }
    100% {
        transform: rotateX(0deg) translateX(0px);
    }
}
.about-shape-wrap img.shape-two {
    right: 7%;
    bottom: 22%;
}
.about-shape-wrap img {
    position: absolute;
}
.rotateme{
    animation-name: everyrotate;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
}
@keyframes everyrotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.choose-bg {
    background-image: url(assets/choose_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 130px 0 218px;
    position: relative;
}
.choose-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(assets/choose_shape01.png);
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 25px;
}
.custom-container-four {
    max-width: 1200px;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
.row {
    --bs-gutter-x: 30px;
}.mb-70 {
    margin-bottom: 70px;
}
.text-center {
    text-align: center!important;
}
.section-title .sub-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    letter-spacing: 0.09em;
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 25px;
}
.mb-70 .sub-title::after, .mb-70 .sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #00C4F4;
    border-radius: 50%;
}
.mb-70 .sub-title::after {
    left:auto;
    right: 0;
}
.section-title .title {
    width: 570px;
    font-size: 42px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: -0.01em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
.choose-item-two {
    margin-bottom: 30px;
}
.choose-icon-two {
    margin-bottom: 35px;
}
.choose-item-two .choose-content {
    width: 74%;
}
.choose-content .title a{
    margin-bottom: 23px;
    font-weight: 600;
    text-transform: none;
    line-height: 1.27;
    color:white;
    text-decoration: none;
}
.choose-content .title a:hover{
    color: #5bbfd8;
}
.choose-bg::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(assets/choose_shape02.png);
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 19px;
}
.counter-inner {
    background: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    padding: 64px 75px 33px;
    position: relative;
    margin-top: -120px;
    margin-bottom: 10px;
}
.counter-inner::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background: #00C4F4;
    opacity: 0.08;
    z-index: -1;
}
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.counter-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.counter-icon {
    width: 71px;
    flex: 0 0 71px;
    margin-right: 30px;
}
.counter-content .count {
    display: flex;
    align-items: center;
    color: #030B15;
    letter-spacing: -0.02em;
    font-size: 48px;
    line-height: 0.85;
    margin-bottom: 8px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pt-130 {
    padding-top: 130px;
}
.mb-65 {
    margin-bottom: 65px;
}
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
}
.roadmap-wrap-two {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 50px;
}
.roadmap-wrap-two::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 8px;
    background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
    opacity: 0.1;
}
.roadmap-wrap-two .roadmap-item:nth-child(1),.roadmap-wrap-two .roadmap-item:nth-child(2) {
    margin-left: 30px;
}
.roadmap-title {
    display: inline-block;
    color: #00C4F4;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
    letter-spacing: 0.1em;
}
.roadmap-wrap-two .roadmap-content {
    padding-top: 75px;
}
.roadmap-content {
    position: relative;
    margin-left: 57px;
    padding-left: 17px;
    padding-top: 110px;
}
.roadmap-content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #00C4F4;
}
.roadmap-content .dot {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 16px;
    height: 16px;
    background: #00C4F4;
    border-radius: 50%;
}
.roadmap-content .dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 32px;
    height: 32px;
    background: #00C4F4;
    opacity: 0.1;
    border-radius: 50%;
}
.roadmap-wrap-two .roadmap-content .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #030B15;
    line-height: 1.62;
}
.roadmap-wrap-two .roadmap-content p {
    color: #727885;
    font-size: 15px;
}
.roadmap-content p {
    margin-bottom: 0;
    color: #A4B4C3;
}
p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: #727885;
    margin-bottom: 15px;
}
.roadmap-wrap-two .roadmap-item:nth-child(even) {
    flex-direction: column;
    margin-bottom: 30px;
    flex: 0 0 400px;
    width: 400px;
}
.roadmap-wrap-two .roadmap-item:nth-child(2) .roadmap-title,.roadmap-wrap-two.bottom .roadmap-item:nth-child(3) .roadmap-title {
    color: #FF9700;
}
.roadmap-wrap-two .roadmap-item:nth-child(2) .roadmap-content::before, .roadmap-wrap-two .roadmap-item:nth-child(2) .dot, .roadmap-wrap-two .roadmap-item:nth-child(2) .dot::before {
    background: #FF9700;
}
.roadmap-wrap-two .roadmap-item:nth-child(3) .roadmap-title,.roadmap-wrap-two.bottom .roadmap-item:nth-child(2) .roadmap-title {
    color: #007FF4;
}
.roadmap-wrap-two .roadmap-item:nth-child(3) .roadmap-content::before, .roadmap-wrap-two .roadmap-item:nth-child(3) .dot, .roadmap-wrap-two .roadmap-item:nth-child(3) .dot::before {
    background: #007FF4;
}
.roadmap-wrap-two .roadmap-item:nth-child(4) .roadmap-title, .roadmap-wrap-two.bottom .roadmap-item:nth-child(1) .roadmap-title {
    color: #FF4581;
}
.roadmap-wrap-two .roadmap-item:nth-child(4) .roadmap-content::before, .roadmap-wrap-two .roadmap-item:nth-child(4) .dot, .roadmap-wrap-two .roadmap-item:nth-child(4) .dot::before {
    background:#FF4581;
}
.roadmap-wrap-two.bottom .roadmap-item:nth-child(1) .roadmap-content::before, .roadmap-wrap-two.bottom .roadmap-item:nth-child(1) .dot, .roadmap-wrap-two.bottom .roadmap-item:nth-child(1) .dot::before {
    background: #FF4581;
}
.roadmap-wrap-two.bottom .roadmap-item:nth-child(2) .roadmap-content::before, .roadmap-wrap-two.bottom .roadmap-item:nth-child(2) .dot, .roadmap-wrap-two.bottom .roadmap-item:nth-child(2) .dot::before {
    background: #007FF4;
}
.roadmap-wrap-two.bottom .roadmap-item:nth-child(3) .roadmap-content::before, .roadmap-wrap-two.bottom .roadmap-item:nth-child(3) .dot, .roadmap-wrap-two.bottom .roadmap-item:nth-child(3) .dot::before {
    background: #FF9700;
}   
.roadmap-wrap-two.bottom .roadmap-item:nth-child(4) .roadmap-title{
    color: #00C4F4;
} 
.roadmap-wrap-two.bottom .roadmap-item:nth-child(4) .roadmap-content::before, .roadmap-wrap-two.bottom .roadmap-item:nth-child(4) .dot, .roadmap-wrap-two.bottom .roadmap-item:nth-child(4) .dot::before {
    background:#00C4F4 ;
}
.roadmap-wrap-two .roadmap-item:nth-child(4) {
    width: 260px;
    flex: 0 0 260px;
    margin-right: 50px;
}
.team-bg {
    background-image: url(assets/team_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 130px 0 100px;
    position: relative;
}
.team-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(assets/team_shape01.png);
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 29px;
}
.mb-60 {
    margin-bottom: 60px;
}
.section-title .sub-title::after, .section-title .sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #00C4F4;
    border-radius: 50%;
}
.section-title .sub-title::after {
    left: auto;
    right: 0;
}
.section-title.mb-65 .sub-title::before, .section-title.mb-65 .sub-title::after{
    opacity: 0;
}
.section-title .title span {
    color: #00C4F4;
}
.team-item .team-thumb {
    position: relative;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 30px;
    display: inline-block;
}
.team-item.team-item-two .team-thumb {
    border-radius: 0;
    padding: 0;
    margin-bottom: 35px;
}
.team-item.team-item-two .team-thumb img {
    border-radius: 0;
    filter: grayscale(100%);
    transition: all .3s ease-in-out;
}
.team-item.team-item-two .team-thumb img:hover{
    filter: grayscale(0%);
}
.team-content .title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    transition: .3s linear;
}
.team-content span {
    display: block;
    margin-bottom: 10px;
}
.team-item {
    text-align: center;
    margin-bottom: 60px;
}
.team-content .team-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
}
li {
    list-style: none;
}
.team-content .team-social li {
    padding: 0 10px;
}
.team-content .team-social li a {
    color: #fff;
    font-size: 13px;
}
.team-bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    background-image: url(assets/team_shape02.png);
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 23px;
}
